[user]
    email = mlinuxgada@gmail.com
    name = Mihail Krastev
[diff]
	tool = vimdiff
[push]
	default = current
[http "https://aahframework.org"]
	followRedirects = true
[http "https://gopkg.in"]
	followRedirects = true
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
[url "git@git.apihawk.tech:"]
    insteadOf = https://git.apihawk.tech/
[url "git@git.evobitsit.com:"]
    insteadOf = https://git.evobitsit.com/
